
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/f2206fc1f8680da7113bd2e00df931bf?family=MicrobrewTwo);

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    overflow: hidden;
}

footer{
    background-color: #032950;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
    display: block;
    padding: 20px 0;
}

.container {
    margin: 0;
    padding: 2rem;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
}

#modalidades{
    background-color: #fff;
    margin: 0 auto;
    padding: 80px 0;
}

.modalidades_content{
    max-width: 71.25rem;
}

.logo-unasp{
    display: flex;
    padding: 20px 0;
    background-color: #003366;
    box-shadow: 7px 7px #000;
    margin-bottom: 40px;
}

.hero{
    background-image: url(./assets/banner-hero.webp);
    background-size: cover;
    height: 470px;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    margin-bottom: 30px;
}

.hero>h2{
    font-family: "MicrobrewTwo";
    font-size: 52px;
    color: #fff;
    font-weight: 300;
    width: 700px;
    text-align: center;
}

.hero>h2>span{
    text-decoration: underline #f05025;
}

.escolha-modalidade{
    color:#003366;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}

.botoes{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.botoes div{
    gap: 30px;
    display: flex;
}

.botoes button{
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    padding: 30px 0;
    box-shadow: 7px 7px #000;
}

.modalidades button{
    background-color: #003366;
    color: #fff;

}

#demo{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.wrapper{
    max-width: 71.25rem;
    margin: 0 auto;
}

.vestibularTitle{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-decoration: underline #f05025;
    text-align: center;
    color: #fff;
}

.promocionaisTitle{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline #f05025;
    margin-bottom: 50px;
}

.wrapper>p{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 40px ;
}

.campus{
    background-color: #003366;
    width: 100%;
    padding: 80px 0;
}

.logo-unasp-azul{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-shadow: 7px 7px #000;
    margin-bottom: 40px;
}

.cardCampus{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.cardCampus>.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 265px;
}

.cardCampus>.card>img{
    width: 100%;
}

.buttonCard{
    color: #212121;
    background-color: #fff;
    box-shadow: 7px 7px #000;
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 265px;
    padding: 30px 0;
}

/*Aqui comça o estilo do Campus da Educação Básica*/

.cardCampusColegio{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 0px;
}

.cardCampusColegio>.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 360px;
    
}

.cardCampusColegio>.card>img{
    width: 100%;
}

.cardCampusColegio>.card>button{
    color: #212121;
    background-color: #fff;
    box-shadow: 7px 7px #000;
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    padding: 30px 0;
}

.slideWrapper{
    margin-bottom: 80px;
}

.slide{
    display: flex;
    background-color: #00000038;
    border-radius: 12px;
    padding: 20px 20px 0 20px;
    gap: 30px;
}

.modelo-slide-1{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
}

.modelo-slide-1>img{
    width: 100%;
}

.modelo-slide-1-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.modelo-slide-1-2>p{
    text-align: center;
    justify-content: center;
    align-self: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    width: 400px;
}

.orangeMarker{
    background-color: #f05025;
    padding: 3px;
    font-weight: 700;
    
}

.slideBtn{
    color: #212121;
    background-color: #fff;
    box-shadow: 7px 7px #000;
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 350px;
    padding: 30px 0;
    margin-top: 30px;
}

.vestibularBtn{
    color: #212121;
    background-color: #fff;
    box-shadow: 7px 7px #000;
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 350px;
    padding: 30px 0;
    margin-top: -500px;

}

.pagComercialBtn{
    color: #212121;
    background-color: #fff;
    box-shadow: 7px 7px #000;
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    width: 350px;
    padding: 30px 0;
}

.vestibularWrapper{
    display: flex;
    background-color: #00000038;
    border-radius: 12px;
    padding: 20px 20px 0 20px;
    gap: 30px;

    margin-top: 60px;
}

.vestTextos{
    width: 50%;
    font-family: 'MicrobrewTwo', sans-serif;
    display: block;
    justify-content: center;
    gap: 20px;
    margin: auto;
    
}

.vestTextos>h4{
    color: #72a4ed;
    font-size: 32px;
    text-align: left;
    font-weight: 400;
    
}

.vestTextos>h2{
    color: #ffffff;
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
}


.vestTextos>div>p{
    color: #032950;
    background-color: #77aaf5;
    border-radius: 20px;
    display: inline;
    padding: 3px 5px;
    font-size: 27px;
    margin-top: 10px;
}

.p1{
    margin-top: 20px;
}

.p2{
    margin-top: 10px;
}

.vestTextos>h2>span:first-child{
    color: #f05025;
}

.vestTextos>h2>span:last-child{
    text-decoration: underline #f05025;
}

.modeloVestImg{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.modeloVestImg>img{
    width: 100%;
    
}


.pageComercialTitle{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-decoration: underline #f05025;
    text-align: center;
    color: #fff;
    margin: 80px 0 40px 0;
}

.comercialWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./assets/banner-hero.webp);
    background-size: contain;
    margin: auto;
    border-radius: 12px;
    padding: 40px 0 40px 0px;
    gap: 30px;
}

.suaExpImg{
    width: 500px;
}

.tagsTitle{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-decoration: underline #f05025;
    text-align: center;
    color: #fff;
    margin: 80px 0 40px 0;
}

.tagsBtnWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tagsBtn{
    color: #212121;
    background-color: #fff;
    box-shadow: 7px 7px #000;
    border: 0;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    max-width: 400px;
    padding: 30px 70px;
}

.tableWrapper{
    margin-top: 80px;
    overflow: auto;
}

.tableWrapper table{
    overflow: auto;
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    
}

td, th {
    border: 1px solid #003366;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #e4e4e4;
    
}

.tableWrapper table tr th{
    background-color: #032950;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
}